In [1]:
import requests
import json

vNum = 0
api_key = 'ad71a4db69e22e2ed5a65fe17e5dfa9cc7c9dfc5504631e1407539d0630933d4'
method = f'LookupGameById?apikey={api_key}&gameid?'
path = f'http://api.esportsearnings.com/v{vNum}/{method}'

test = requests.get(path)

test.json()

test2 = requests.get('https://twitchtracker.com/')

test2

In [7]:
from itertools import combinations
from math import factorial
def nPr(n, r):
    return int(math.factorial(n)/math.factorial(n-r))
def nCr(n, r):
    return int(math.factorial(n)/(math.factorial(n-r))*math.factorial(r))

print(f'At least {nPr(11,4)*nCr(4,2)*4*nCr(3,2)*4} of iterations')

In [9]:
numbers = list(range(1,12))
total = 0
results = []
combination = []
comb = combinations(numbers,4) 
for perms in list(comb): 
    for x in range(4):
        perms[0]
        perms[0]
        perms[0]
        perms[1]
        perms[1]
        perms[2]
    if total == 23:
        results.append(combination)
        combination = []
print(results)

[]

In [6]:

results = []
twt = 23
outputs = []
operation = ['+','-','*','/']
def combinaiton23(num, ret, oper, outputs):
    if len(ret) == 4:
        if num == 0:
            outputs.append([ret,num])
            return
        else:
            outputs.append([ret,num])
            return 
    else:
        for x in range(1,12):
            for op in oper:
                if op == '+':
                    temp = ret.copy()
                    temp.append([x,'+'])
                    combinaiton23(num - x, temp, oper, outputs)
                elif op == '-':
                    temp = ret.copy()
                    temp.append([x,'-'])
                    combinaiton23(num + x, temp, oper, outputs)
                elif op == '*':
                    temp = ret.copy()
                    temp.append([x,'*'])
                    combinaiton23(num / x, temp, oper, outputs)
                else:
                    temp = ret.copy()
                    temp.append([x,'/'])
                    combinaiton23(num * x, temp, oper, outputs)

# with open('results.txt', 'w') as file:
combinaiton23(twt, results, operation, outputs)
df = pd.DataFrame(outputs)

In [5]:
import pandas as pd
df = pd.read_csv('results.csv')

correctdf = df.loc[df[df.columns[1]] == 0].reset_index().drop(columns = ['index',df.columns[1]])
correctdf = correctdf.rename(columns ={correctdf.columns[0]:'Answers'})
lastdf = pd.DataFrame(columns = ['Num1','Oper1',
                    'Num2','Oper2','Num3','Oper3','Num4','Oper4'])
for ans in correctdf['Answers']:
    lastdf = lastdf.append({'Num1' : ans[0][0],'Oper1' : ans[0][1],
                'Num2' : ans[1][0],'Oper2' : ans[1][1],
                'Num3' : ans[2][0],'Oper3' : ans[2][1],
                'Num4' : ans[3][0],'Oper4' : ans[3][1]},ignore_index=True)
lastdf.to_csv('results.csv', index = False)

Empty DataFrame
Columns: [Num1, Oper1, Num2, Oper2, Num3, Oper3, Num4, Oper4]
Index: []

In [72]:
deck = [x for x in range(2,11) for y in range(4)]
for royals in ['J','J','J','J','Q','Q','Q','Q','K','K','K','K','A','A','A','A']:
    deck.append(royals)
print(deck)

[2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 10, 10, 10, 10, 'J', 'J', 'J', 'J', 'Q', 'Q', 'Q', 'Q', 'K', 'K', 'K', 'K', 'A', 'A', 'A', 'A']

In [4]:
function shuffle(array) {
  var m = array.length, t, i;

  // While there remain elements to shuffle…
  while (m) {

    // Pick a remaining element…
    i = Math.floor(Math.random() * m--);

    // And swap it with the current element.
    t = array[m];
    array[m] = array[i];
    array[i] = t;
  }

  return array;
}

Empty DataFrame
Columns: [Answers, Num2, Oper2, Num3, Oper3, Num4, Oper4]
Index: []